.gradle
#/local.properties
#/.idea/misc.xml
#/.idea/modules.xml
#/.idea/workspace.xml
#/.idea/vcs.xml
#/.idea/runConfigurations.xml
#/.idea/libraries
/build
**/build
**/*.apk
**/*.class
**/play
android-rss-reader-library-master
library-sliding-menu
facebook-android-sdk-3-6-0
forecast-master
headerlistview
paymentkit_lib
progresswheel-master
stripe-android-master
uil_library
captures
**/webHome
business_script
business_script/generator.rb
out.txt
web_home_content/*
!updater.rb







